<div class="footer">
<nav class="navbar navbar-expand-lg" style="background-color: rgb(0 0 0 / 32%);magin;margin-top: 500px;display: block;" >
 <div class="title" style="margin-left: 50px;">
 <p>SHOPEE - GÌ CŨNG CÓ, MUA HẾT Ở SHOPEE</p>
 <p>Shopee - ứng dụng mua sắm trực tuyến thú vị, tin cậy, an toàn và miễn phí!</p>
 <p>Shopee là nền tảng giao dịch trực tuyến hàng đầu ở Đông Nam Á, có trụ sở chính ở Singapore</p>
 </div>
</nav>
</div>