<div class="header" style="background-color: rgba(46, 38, 38, 0.432);">
<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
    <div class="logo">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" style="width: 50px; height: 50px;"></a>
    <a class="navbar-brand" href="/"><h1>Home</h1></a>
    </div>
    <div class="buttonhome">
    
    </div>
    <div class="role">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/admin/product/create">Thêm sản phẩm</a></li>
        <li><a class="dropdown-item" href="/admin/product/list-products">Quản lý sản phẩm</a></li>
        <li><a class="dropdown-item" href="/login">Đăng Xuất</a></li>
      </ul>
    </li>
    </div>
  </div>
</nav>
</div>