<div class="wrapper">
<div class="login">
<form method="POST" action="/loginAuth">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" style="float: left;margin:10px 20px">Tài Khoản</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Nhập Email"
    style="width: 400px; margin-left: 20px;">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="float: left;margin:10px 20px">Mật Khẩu</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Nhập Mật Khẩu"
     style="width: 400px; margin-left: 20px;">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 15px;">Đăng Nhập</button>
  <div class="register" style="display: block;justify-content: center; margin-bottom: 20px;">
    <h2 style="font-size: 15px;">Bạn chưa có tài khoản ?</h2>
    <a href="/register" style="text-decoration: none">Đăng ký</a>
  </div>
</form>
</div>
</div>