<div class="wrapper">
<div class="login">
<form method="POST" action="/registerAuth">
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="float: left;margin:10px 20px">User Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Họ Tên"
    style="width: 400px; margin-left: 20px;">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" style="float: left;margin:10px 20px">Tài Khoản</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Nhập Email"
    style="width: 400px; margin-left: 20px;">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label" style="float: left;margin:10px 20px">Mật Khẩu</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Nhập Mật Khẩu"
     style="width: 400px; margin-left: 20px;">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-bottom: 15px;">Đăng Ký</button>
</form>
</div>
</div>